In [11]:
import pandas as pd

# Carregando os dados dos arquivos importados no colab.
notas = pd.read_csv("ratings.csv")

In [16]:
#Preview das 5 primeiras informações
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
#Quantidade de dados
notas.shape

(100836, 4)

In [15]:
# Mostra o nome das colunas existentes
notas.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [17]:
# Vamos renomear para facilitar a manipulação
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]

In [19]:
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [25]:
# Mostra os valores únicos na series
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [27]:
# Quantidade de vezes que os valores se repetem, ordenado pela maior quantidade.
notas['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [29]:
# Média das notas
notas['nota'].mean()

3.501556983616962